In [2]:
from datetime import date
import pandas as pd
import sqlite

In [3]:
conn = sqlite3.connect("hoteldata.sqlite")

In [4]:
conn

In [27]:
query = "SELECT name,address,rating,url FROM hoteldata where city=\"Bangalore\" and img!=\"\" and facility!=\"\" order by rating DESC LIMIT 5"

In [47]:
query

'SELECT name,address,rating,url FROM hoteldata where city="Bangalore" and img!="" and facility!="" order by rating DESC LIMIT 5'

In [48]:
df = pd.read_sql(query,conn)

In [49]:
df

,name,address,rating,url
0,Best Western Plus Jagadish,"No 51, 4th Block, 11th Main, Jayanagar, Bangal...",4 star,https://www.google.com
1,Casa Cottage,"N-2, clapham Street, Richmond road , Richmond ...",3 star,https://www.google.com
2,The Elite Royale,"9th Main,13th Corss,6th Sector , H S R Layout-...",3 star,https://www.google.com
3,Melange Luxury Service Apartment,"No 21 Suryamukhi Garden Apartments , Vittal Ma...",3 star,https://www.google.com
4,The Orange Hotel,"No.90/6, Nr Innovative MultiplexOuter Ring Rd ...",3 star,https://www.google.com

In [31]:
if df.shape[0]>0:
    values = list(df.values)

In [35]:
values

[array(['Best Western Plus Jagadish',
        'No 51, 4th Block, 11th Main, Jayanagar, Bangalore , Jayanagar',
        '4 star', 'https://www.google.com'], dtype=object),
 array(['Casa Cottage',
        'N-2, clapham Street, Richmond road , Richmond Road', '3 star',
        'https://www.google.com'], dtype=object),
 array(['The Elite Royale',
        '9th Main,13th Corss,6th Sector , H S R Layout-Koramangala',
        '3 star', 'https://www.google.com'], dtype=object),
 array(['Melange Luxury Service Apartment',
        'No 21 Suryamukhi Garden Apartments , Vittal Mallya Road',
        '3 star', 'https://www.google.com'], dtype=object),
 array(['The Orange Hotel',
        'No.90/6, Nr Innovative MultiplexOuter Ring Rd , Marathahalli',
        '3 star', 'https://www.google.com'], dtype=object)]

In [45]:
content = 'Below are the Options:\n\n\n'
count = 0;
for data in values:
    hotelName = data[0]
    address = data[1]
    rating = data[2]
    Link = data[3]
        
    content = content +"Hotel Name: "+hotelName+"\nAddress: "+address+"\nRating: "+rating+"\nBook Now: "+Link+"\n\n"

In [46]:
print(content)

Below are the Options:


Hotel Name: Best Western Plus Jagadish
Address: No 51, 4th Block, 11th Main, Jayanagar, Bangalore , Jayanagar
Rating: 4 star
Book Now: https://www.google.com

Hotel Name: Casa Cottage
Address: N-2, clapham Street, Richmond road , Richmond Road
Rating: 3 star
Book Now: https://www.google.com

Hotel Name: The Elite Royale
Address: 9th Main,13th Corss,6th Sector , H S R Layout-Koramangala
Rating: 3 star
Book Now: https://www.google.com

Hotel Name: Melange Luxury Service Apartment
Address: No 21 Suryamukhi Garden Apartments , Vittal Mallya Road
Rating: 3 star
Book Now: https://www.google.com

Hotel Name: The Orange Hotel
Address: No.90/6, Nr Innovative MultiplexOuter Ring Rd , Marathahalli
Rating: 3 star
Book Now: https://www.google.com